<div class="container">
    <h1 class="mt-5 text-primary">Danh sách sản phẩm</h1>
    <button class="btn btn-success" onclick="window.location.href='/add';">Thêm sản phẩm</button>
    <p>Chọn một sản phẩm cụ thể để xem chi tiết</p>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td class="productName">{{this.name}}</td>
                <td class="price">${{this.price}}</td>
                <td>
                    <button class="btn btn-primary" onclick="showDetail('{{this.name}}', '${{this.price}}')">Chỉnh
                        sửa</button>
                    <button class="btn btn-danger" data-id="{{this.id}}" onclick="deleteProduct(event)">Xóa</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<script>
    function showDetail(productName, price) {
        var encodedProductName = encodeURIComponent(productName);
        var encodedPrice = encodeURIComponent(price);
        var detailUrl = '/detail?productName=' + encodedProductName + '&price=' + encodedPrice;

        // Chuyển sang trang detail.handlebars
        window.location.href = detailUrl;
    }

    function deleteProduct(event) {
        // Get the clicked delete button
        const deleteButton = event.target;

        // Get the product ID from the data-id attribute
        const id = deleteButton.getAttribute('data-id');

        // Send a POST request to /delete with the product ID
        fetch('/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id }),
        })
            .then(response => response.json())
            .then(() => {
            });
        location.reload();
    }

</script>